{% extends 'base.html' %}
{% load static %}
{% block title %} 
 Upload CSV
{% endblock title %}

{% block content %}
<div class="container mt-5">
  <div class="card">
    <div class="card-body">

      <h3 class="card-title">CSV File Upload</h3>

      <form method="post" class="dropzone" id="myDropzone" enctype="multipart/form-data">
        {% csrf_token %}
        <a href="https://jmp.sh/s/EUvqxhax4rlfgSszf5Ad" target="_blank" button class="btn btn-dark" >Dummy Data</button></a> 

        <div class="form-group fallback">

          <label for="csv_file">Choose CSV File:</label>
          
          <input class="btn btn-dark" name="csv_file" type="file" class="form-control-file" accept=".csv" required/>
        </div>
        <div class="form-group">
          <label for="shelf_space">Shelf Space:</label>
          <input type="number" name="shelf_space" id="shelf_space" class="form-control form-control-sm" style="width: 100px;" required>
        </div>
        <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
        <a href="/optimization" button   class="btn btn-primary">Analysis</button></a>

      </form>

      {% if products_list %}
        <div class="total-products mt-4">
          <p class="total-products-text font-weight-bold text-dark border-bottom pb-2">Total Products: {{ total_products }}</p>
        </div>
        <h2 class="mt-4">Products List</h2>
        <div class="row mt-3">
          {% for product in products_list %}
            <div class="col-md-4 mb-3">
              <div class="card border-dark shadow">
                <div class="card-body">
                  <p class="card-text text-dark font-weight-bold">{{ product }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}

    </div>
  </div>

</div>

<script>
  // Initialize Dropzone
  Dropzone.options.myDropzone = {
    paramName: "file", // The name that will be used to transfer the file
    maxFilesize: 5, // MB
    acceptedFiles: ".csv",
    init: function () {
      this.on("success", function (file, response) {
        // Handle the successful upload, you can retrieve the file path or other information from the response
        console.log("File uploaded:", file);
        console.log("Server response:", response);
      });
    }
  };

  // Submit form when the button is clicked
  document.getElementById('submitBtn').addEventListener('click', function() {
    document.getElementById('myDropzone').submit();
  });
</script>

{% endblock %}