{% extends 'base.html' %}
{% load static %}
{% block title %} 
    Shelf Optimization
{% endblock title %}

{% block content %}
<div class="stuffonshelf">
    <img class="example" src="{% static 'assets/img/iphone.png' %}">

    <img class="example3" src="{% static 'assets/img/ps5.png' %}">
    <img class="example" src="{% static 'assets/img/laptop.png' %}">
  </div>
  <img class="shelf" src="https://i.imgur.com/1QepZRl.png"> <!-- Specify the src attribute here -->
  
  <br>
  
  <div class="stuffonshelf">

    <img class="example3" src="{% static 'assets/img/hoodie.png' %}">
    <img class="example3" src="{% static 'assets/img/waterbottle.png' %}">

    <img src="https://melonking.net/webgarden/tumblr_nfv4336ffD1tsxfu3o1_500.png">

  </div>
  <img class="shelf" src="https://i.imgur.com/1QepZRl.png">
  
  <br>
  
  <div class="stuffonshelf">
    <img class="example" src="{% static 'assets/img/iphone.png' %}">

    <img class="example3" src="{% static 'assets/img/ps5.png' %}">
    <img class="example" src="{% static 'assets/img/laptop.png' %}">
  </div>
  <img class="shelf" src="https://i.imgur.com/1QepZRl.png">
  
  <style>
    .shelf {
      display: block;
      z-index: 9;
      position: relative;
      width: 1041px;
      height: 175px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .stuffonshelf {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      position: relative;
      z-index: 10;
      margin-bottom: -80px;
      width: 770px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .example {
      width: 200px;
      height: 200px;
      padding: 5px;
    }
  
    .example2 {
      width: 200px;
      height: 300px;
      padding: 5px;
      background-color: rgb(13, 4, 60);
    }
    .example3 {
      width: 500px;
      height: 300px;
      padding: 5px;
    }
  </style>
{% endblock %}